<ion-header>
  <ion-navbar>
    <ion-title>
      Buscador de libros.
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Ingrese libro ó autor a buscar:</ion-label> 
    <ion-input type="text" [(ngModel)]="libro"></ion-input>
  </ion-item>
  <ion-item>
        <button ion-button class="submit-btn" full type="submit" (click)="search()">BUSCAR</button>
  </ion-item>
<ion-list>
<ion-item>
      <ion-card padding *ngFor="let imprimir of resultado" (click)="showBook(imprimir.title_suggest,imprimir.author_name,imprimir.first_publish_year, imprimir.cover_i )">
        <div class="card-title">{{imprimir.title_suggest}}</div>
        <div class="card-subtitle">
          <p *ngIf="imprimir.cover_i != null">
          <img src="http://covers.openlibrary.org/b/id/{{imprimir.cover_i}}-L.jpg" /></p>
          <p *ngIf="imprimir.cover_i  == null">
            <img width="10" src="../../assets/imgs/ic_placeholder.png" />
          </p>
        </div>
        <div class="card-subtitle">{{imprimir.author_name}}</div>
        <div class="card-subtitle">{{imprimir.first_publish_year}}</div>
        <div class="card-subtitle">{{imprimir.language}}</div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
